.dynamic-background2 {
    background-image: linear-gradient(to bottom , green , red);
    border: 2px solid #000;
    padding: 15px;
}
body{
    background-image: url('./components/assests/bgimage.jpg');
    overflow: hidden;
}